<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:integrations="http://www.sitecore.net/xmlconfig/integrations/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore search:require="solr">
      <contentSearch>
         <indexConfigurations>
            <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
               <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
			   
                  <typeMatches hint="raw:AddTypeMatch">
                    <typeMatch typeName="geojsonrptgeom" type="System.String" fieldNameFormat="{0}_grptgeom" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" patch:before="*[1]"/>
                  </typeMatches>
                 
               </fieldMap>
            </defaultSolrIndexConfiguration>
			
         </indexConfigurations>

        <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
          <indexes hint="list:AddIndex">
            <index id="sc9xp0_spatial_master" type="Sitecore.Spatial.GeoJson.Providers.Solr.SolrSearchIndex, Sitecore.Spatial.GeoJson" role:require="Standalone OR ContentManagement">
              <param desc="name">$(id)</param>
              <param desc="core">$(id)</param>
              <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
              
              <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration" >
                <documentOptions ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentOptions">
                  <indexAllFields>true</indexAllFields>
                  <include hint="list:AddIncludedTemplate">
                    <SpatialGeomTemplateId>{2EE20272-104A-40F3-AE43-9EECFF4B728F}</SpatialGeomTemplateId>
                  </include>
                  <fields hint="raw:AddComputedIndexField">
                    <field fieldName="polygon" returnType="geojsonrptgeom">Sitecore.Spatial.GeoJson.ComputedFields.Polygon, Sitecore.Spatial.GeoJson</field>
                  </fields>
                </documentOptions>
              </configuration>
              
              <strategies hint="list:AddStrategy">
                <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/syncMaster" />
              </strategies>
              <locations hint="list:AddCrawler">
                <crawlerGeom type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                  <Database>master</Database>
                  <Root>/sitecore/content/Geo Tests GEOM</Root>
                </crawlerGeom>
              </locations>
              <enableItemLanguageFallback>false</enableItemLanguageFallback>
              <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
            </index>
          </indexes>
        </configuration>
      </contentSearch>
   </sitecore>
</configuration>
